

section {
  padding: 4rem 2rem;
  transition: all 0.3s ease-in-out;
}

h2 {
  text-align: center;
}

a {
  transition: color 0.3s ease;
}

a:hover {
  color: #2563eb;
}

section {
  animation: fadeInUp 0.6s ease-in-out both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
html{
    scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #f3f2ef;
color: #1F2937;

}

